.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: var(--surface-overlay);
  transition: margin-left $transitionDuration;
}

.layout-main {
  flex: 1 1 auto;
  padding: 1rem 2rem;
}
