@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';
@import '@/assets/scss/preloading';
@import '@/assets/scss/main';
@import '@/assets/scss/topbar';
@import '@/assets/scss/menu';
@import '@/assets/scss/config';
@import '@/assets/scss/content';
@import '@/assets/scss/responsive';
@import '@/assets/scss/utils';
@import '@/assets/scss/typography';
@import '@/assets/scss/overlaypanel';
@import '@/assets/scss/scrollbar';

@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.scss';
