@import 'primeicons/primeicons.css';

@import '@/assets/scss/variables';
@import '@/assets/scss/preloading';
@import '@/assets/scss/main';
@import '@/assets/scss/topbar';
@import '@/assets/scss/menu';
@import '@/assets/scss/responsive';
@import '@/assets/scss/utils';
